<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />

    <meta
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
      name="viewport"
    />

    <title>Blog | Atlas Template</title>

    <meta property="og:title" content="Blog | Atlas Template" />

    <meta property="og:locale" content="en_US" />

    <link rel="canonical" href="https://atlas.tailwindmade.com/blog" />

    <meta property="og:url" content="https://atlas.tailwindmade.com/blog" />

    <meta
      name="description"
      content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    />

    <link rel="icon" type="image/png" href="/assets/img/favicon.png" />

    <meta property="og:site_name" content="Atlas Template" />

    <meta
      property="og:image"
      content="https://atlas.tailwindmade.com/assets/img/social.jpg"
    />

    <meta name="twitter:card" content="summary_large_image" />

    <meta name="twitter:site" content="@tailwindmade" />

    <link
      crossorigin="crossorigin"
      href="https://fonts.gstatic.com"
      rel="preconnect"
    />

    <link
      as="style"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="preload"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
    />

    <link
      crossorigin="anonymous"
      href="/assets/styles/main.min.css"
      media="screen"
      rel="stylesheet"
    />

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/atom-one-dark.min.css"
    />

    <script>
      hljs.initHighlightingOnLoad();
    </script>

    <!--Alpine Js V3-->
    <script
      src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"
      defer
    ></script>
  </head>

  <body
    x-data="global()"
    x-init="themeInit()"
    :class="isMobileMenuOpen ? 'max-h-screen overflow-hidden relative' : ''"
    class="dark:bg-primary"
  >
    <div id="main">
      <%- include('./partials/header'); %>

      <%- include('./partials/mobileMenu'); %>

      <div>
        <div class="container mx-auto">
          <div class="py-16 lg:py-20">
            <div>
              <img src="/assets/img/icon-blog.png" alt="icon envelope" />
            </div>

            <h1
              class="pt-5 font-body text-4xl font-semibold text-primary dark:text-white md:text-5xl lg:text-6xl"
            >
              Blog
            </h1>

            <div class="pt-3 sm:w-3/4">
              <p
                class="font-body text-xl font-light text-primary dark:text-white"
              >
                Articles, tutorials, snippets, rants, and everything else.
                Subscribe for updates as they happen.
              </p>
            </div>

            <form class="flex flex-col py-12 sm:flex-row">
              <input
                type="email"
                id="subscribe"
                placeholder="Drop that email here…"
                class="w-full border border-primary bg-grey-lightest px-5 py-4 font-body font-light text-primary placeholder-primary transition-colors focus:border-secondary focus:outline-none focus:ring-2 focus:ring-secondary dark:border-secondary sm:w-1/2"
              />
              <button
                type="submit"
                class="mt-5 bg-secondary px-10 py-4 font-body text-xl font-semibold text-white hover:bg-green sm:mt-0 md:text-2xl"
              >
                Subscribe
              </button>
            </form>

            <div class="pt-8 lg:pt-12">
              <% for (let blog of blogs) { %>
              <div class="border-b border-grey-lighter pb-8">
                <% for (let category of blog.categories) { %>
                <span
                  class="mb-4 inline-block rounded-full bg-green-light px-2 py-1 font-body text-sm text-green"
                >
                  <%= category %>
                </span>
                <% } %>
                <a
                  href="/post"
                  class="block font-body text-lg font-semibold text-primary transition-colors hover:text-green dark:text-white dark:hover:text-secondary"
                >
                  <%= blog.title %>
                </a>
                <div class="flex items-center pt-4">
                  <p
                    class="pr-2 font-body font-light text-primary dark:text-white"
                  >
                    <%= blog.date %>
                  </p>
                  <span class="font-body text-grey dark:text-white">//</span>
                  <p
                    class="pl-2 font-body font-light text-primary dark:text-white"
                  >
                    <%= blog.info %>
                  </p>
                </div>
              </div>
              <% } %>
            </div>

            <div class="flex pt-8 lg:pt-16">
              <span
                class="cursor-pointer border-2 border-secondary px-3 py-1 font-body font-medium text-secondary"
                >1</span
              >
              <span
                class="ml-3 cursor-pointer border-2 border-primary px-3 py-1 font-body font-medium text-primary transition-colors hover:border-secondary hover:text-secondary dark:border-green-light dark:text-white dark:hover:border-secondary dark:hover:text-secondary"
                >2</span
              >
              <span
                class="ml-3 cursor-pointer border-2 border-primary px-3 py-1 font-body font-medium text-primary transition-colors hover:border-secondary hover:text-secondary dark:border-green-light dark:text-white dark:hover:border-secondary dark:hover:text-secondary"
                >3</span
              >
              <span
                class="group ml-3 flex cursor-pointer items-center border-2 border-primary px-3 py-1 font-body font-medium text-primary transition-colors hover:border-secondary hover:text-secondary dark:border-green-light dark:text-white dark:hover:border-secondary dark:hover:text-secondary"
                >Next
                <i
                  class="bx bx-right-arrow-alt ml-1 text-primary transition-colors group-hover:text-secondary dark:text-white"
                ></i
              ></span>
            </div>
          </div>
        </div>
      </div>

      <%- include('./partials/footer'); %>
    </div>

    <script src="/assets/js/main.js"></script>
  </body>
</html>
