<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />

    <meta
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
      name="viewport"
    />

    <title>Contact | Atlas Template</title>

    <meta property="og:title" content="Contact | Atlas Template" />

    <meta property="og:locale" content="en_US" />

    <link rel="canonical" href="https://atlas.tailwindmade.com/contact" />

    <meta property="og:url" content="https://atlas.tailwindmade.com/contact" />

    <meta
      name="description"
      content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    />

    <link rel="icon" type="image/png" href="/assets/img/favicon.png" />

    <meta property="og:site_name" content="Atlas Template" />

    <meta
      property="og:image"
      content="https://atlas.tailwindmade.com/assets/img/social.jpg"
    />

    <meta name="twitter:card" content="summary_large_image" />

    <meta name="twitter:site" content="@tailwindmade" />

    <link
      crossorigin="crossorigin"
      href="https://fonts.gstatic.com"
      rel="preconnect"
    />

    <link
      as="style"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="preload"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
    />

    <link
      crossorigin="anonymous"
      href="/assets/styles/main.min.css"
      media="screen"
      rel="stylesheet"
    />

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/atom-one-dark.min.css"
    />

    <script>
      hljs.initHighlightingOnLoad();
    </script>

    <!--Alpine Js V3-->
    <script
      src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"
      defer
    ></script>
  </head>

  <body
    x-data="global()"
    x-init="themeInit()"
    :class="isMobileMenuOpen ? 'max-h-screen overflow-hidden relative' : ''"
    class="dark:bg-primary"
  >
    <div id="main">
      <%- include('./partials/header'); %>

      <%- include('./partials/mobileMenu'); %>

      <div>
        <div class="container mx-auto">
          <div class="py-16 lg:py-20">
            <div>
              <img src="/assets/img/icon-contact.png" alt="icon envelope" />
            </div>
            <h1
              class="pt-5 font-body text-4xl font-semibold text-primary dark:text-white md:text-5xl lg:text-6xl"
            >
              Contact
            </h1>
            <div class="pr-2 pt-3 sm:pt-0">
              <p
                class="font-body text-xl font-light text-primary dark:text-white"
              >
                Got a question or proposal, or just want to say hello? Go ahead.
                You know what to do.
              </p>
            </div>
            <form id="contactForm" action="/contact-form" method="POST" class="pt-16">
              <div class="flex flex-col sm:flex-row">
                <div class="w-full sm:mr-3 sm:w-1/2">
                  <label
                    class="block pb-3 font-body font-medium text-primary dark:text-white"
                    >Your Name</label
                  >
                  <input
                    type="text"
                    id="name"
                    name="name"
                    placeholder="What should I call you?"
                    class="w-full border border-primary bg-grey-lightest px-5 py-4 font-body font-light text-primary placeholder-primary transition-colors focus:border-secondary focus:outline-none focus:ring-2 focus:ring-secondary dark:text-white"
                  />
                </div>
                <div class="w-full pt-6 sm:ml-3 sm:w-1/2 sm:pt-0">
                  <label
                    class="block pb-3 font-body font-medium text-primary dark:text-white"
                    >Email Address</label
                  >
                  <input
                    type="email"
                    id="email"
                    name="email"
                    placeholder="Drop that email here…"
                    class="w-full border border-primary bg-grey-lightest px-5 py-4 font-body font-light text-primary placeholder-primary transition-colors focus:border-secondary focus:outline-none focus:ring-2 focus:ring-secondary dark:text-white"
                  />
                </div>
              </div>
              <div class="w-full pt-6 sm:pt-10">
                <label
                  class="block pb-3 font-body font-medium text-primary dark:text-white"
                  >Email Address</label
                >
                <textarea
                  id="message"
                  cols="30"
                  rows="9"
                  name="message"
                  placeholder="Tell me all the things that you think I need to hear…"
                  class="w-full border border-primary bg-grey-lightest px-5 py-4 font-body font-light text-primary placeholder-primary transition-colors focus:border-secondary focus:outline-none focus:ring-2 focus:ring-secondary dark:text-white"
                ></textarea>
              </div>
              <button
                class="mt-10 mb-12 block bg-secondary px-10 py-4 text-center font-body text-xl font-semibold text-white transition-colors hover:bg-green sm:inline-block sm:text-left sm:text-2xl"
              >
                Send Message
              </button>
            </form>
          </div>
        </div>
      </div>

      <%- include('./partials/footer'); %>
    </div>

    <script src="/assets/js/main.js"></script>
    <!-- <script>
      const form = document.getElementById('contactForm');
      form.addEventListener('submit', function(event) {
        event.preventDefault();
        console.log(form.elements);
        fetch('http://localhost/contact-form', {
          method: 'POST',
        })
      });
    </script> -->
  </body>
</html>
