<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />

    <meta
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
      name="viewport"
    />

    <title>Homepage | Atlas Template</title>

    <meta property="og:title" content="Homepage | Atlas Template" />

    <meta property="og:locale" content="en_US" />

    <link rel="canonical" href="https://atlas.tailwindmade.com/" />

    <meta property="og:url" content="https://atlas.tailwindmade.com/" />

    <meta
      name="description"
      content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    />

    <link rel="icon" type="image/png" href="/assets/img/favicon.png" />

    <meta property="og:site_name" content="Atlas Template" />

    <meta
      property="og:image"
      content="https://atlas.tailwindmade.com/assets/img/social.jpg"
    />

    <meta name="twitter:card" content="summary_large_image" />

    <meta name="twitter:site" content="@tailwindmade" />

    <link
      crossorigin="crossorigin"
      href="https://fonts.gstatic.com"
      rel="preconnect"
    />

    <link
      as="style"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="preload"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
    />

    <link
      crossorigin="anonymous"
      href="/assets/styles/main.min.css"
      media="screen"
      rel="stylesheet"
    />

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/atom-one-dark.min.css"
    />

    <script>
      hljs.initHighlightingOnLoad();
    </script>

    <!--Alpine Js V3-->
    <script
      src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"
      defer
    ></script>
  </head>

  <body
    x-data="global()"
    x-init="themeInit()"
    :class="isMobileMenuOpen ? 'max-h-screen overflow-hidden relative' : ''"
    class="dark:bg-primary"
  >
    <div id="main">
      <%- include('./partials/header'); %> 
      
      <%- include('./partials/mobileMenu'); %>

      <div>
        <div class="container mx-auto">
          <div class="border-b border-grey-lighter py-16 lg:py-20">
            <div>
              <img
                src="/assets/img/author.png"
                class="h-16 w-16"
                alt="author"
              />
            </div>
            <h1
              class="pt-3 font-body text-4xl font-semibold text-primary dark:text-white md:text-5xl lg:text-6xl"
            >
              Hi, I’m John Doe.
            </h1>
            <p
              class="pt-3 font-body text-xl font-light text-primary dark:text-white"
            >
              A software engineer and open-source advocate enjoying the sunny
              life in Barcelona, Spain.
            </p>
            <a
              href="/"
              class="mt-12 block bg-secondary px-10 py-4 text-center font-body text-xl font-semibold text-white transition-colors hover:bg-green sm:inline-block sm:text-left sm:text-2xl"
            >
              Say Hello!
            </a>
          </div>

          <div class="border-b border-grey-lighter py-16 lg:py-20">
            <div class="flex items-center pb-6">
              <img src="/assets/img/icon-story.png" alt="icon story" />
              <h3
                class="ml-3 font-body text-2xl font-semibold text-primary dark:text-white"
              >
                My Story
              </h3>
            </div>
            <div>
              <p class="font-body font-light text-primary dark:text-white">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Nibh
                mauris cursus mattis molestie. Et leo duis ut diam. Sit amet
                tellus cras adipiscing enim eu turpis. Adipiscing at in tellus
                integer feugiat.
                <br />
                <br />
                Maecenas accumsan lacus vel facilisis. Eget egestas purus
                viverra accumsan in nisl nisi scelerisque eu. Non tellus orci ac
                auctor augue mauris augue neque gravida. Auctor augue mauris
                augue neque gravida in fermentum et sollicitudin. Tempus urna et
                pharetra pharetra massa massa ultricies mi quis. Amet mauris
                commodo quis imperdiet massa. Integer vitae justo eget magna
                fermentum iaculis eu non.
              </p>
            </div>
          </div>

          <div class="py-16 lg:py-20">
            <div class="flex items-center pb-6">
              <img src="/assets/img/icon-story.png" alt="icon story" />
              <h3
                class="ml-3 font-body text-2xl font-semibold text-primary dark:text-white"
              >
                My Story
              </h3>
              <a
                href="/blog"
                class="flex items-center pl-10 font-body italic text-green transition-colors hover:text-secondary dark:text-green-light dark:hover:text-secondary"
              >
                All posts
                <img
                  src="/assets/img/long-arrow-right.png"
                  class="ml-3"
                  alt="arrow right"
                />
              </a>
            </div>
            <div class="pt-8">
              <div class="border-b border-grey-lighter pb-8">
                <span
                  class="mb-4 inline-block rounded-full bg-green-light px-2 py-1 font-body text-sm text-green"
                  >category</span
                >
                <a
                  href="/post"
                  class="block font-body text-lg font-semibold text-primary transition-colors hover:text-green dark:text-white dark:hover:text-secondary"
                  >Quis hendrerit dolor magna eget est lorem ipsum dolor sit</a
                >
                <div class="flex items-center pt-4">
                  <p
                    class="pr-2 font-body font-light text-primary dark:text-white"
                  >
                    July 19, 2020
                  </p>
                  <span class="font-body text-grey dark:text-white">//</span>
                  <p
                    class="pl-2 font-body font-light text-primary dark:text-white"
                  >
                    4 min read
                  </p>
                </div>
              </div>
              <div class="border-b border-grey-lighter pt-10 pb-8">
                <div class="flex items-center">
                  <span
                    class="mb-4 inline-block rounded-full bg-grey-light px-2 py-1 font-body text-sm text-blue-dark"
                    >category</span
                  >
                  <span
                    class="mb-4 ml-4 inline-block rounded-full bg-yellow-light px-2 py-1 font-body text-sm text-yellow-dark"
                    >category</span
                  >
                </div>
                <a
                  href="/post"
                  class="block font-body text-lg font-semibold text-primary transition-colors hover:text-green dark:text-white dark:hover:text-secondary"
                  >Senectus et netus et malesuada fames ac turpis egestas
                  integer</a
                >
                <div class="flex items-center pt-4">
                  <p
                    class="pr-2 font-body font-light text-primary dark:text-white"
                  >
                    June 30, 2020
                  </p>
                  <span class="font-body text-grey dark:text-white">//</span>
                  <p
                    class="pl-2 font-body font-light text-primary dark:text-white"
                  >
                    5 min read
                  </p>
                </div>
              </div>
              <div class="border-b border-grey-lighter pt-10 pb-8">
                <span
                  class="mb-4 inline-block rounded-full bg-blue-light px-2 py-1 font-body text-sm text-blue"
                  >category</span
                >
                <a
                  href="/post"
                  class="block font-body text-lg font-semibold text-primary transition-colors hover:text-green dark:text-white dark:hover:text-secondary"
                  >Vulputate ut pharetra sit amet aliquam id diam maecenas
                  ultricies</a
                >
                <div class="flex items-center pt-4">
                  <p
                    class="pr-2 font-body font-light text-primary dark:text-white"
                  >
                    June 26, 2020
                  </p>
                  <span class="font-body text-grey dark:text-white">//</span>
                  <p
                    class="pl-2 font-body font-light text-primary dark:text-white"
                  >
                    3 min read
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="pb-16 lg:pb-20">
            <div class="flex items-center pb-6">
              <img src="/assets/img/icon-project.png" alt="icon story" />
              <h3
                class="ml-3 font-body text-2xl font-semibold text-primary dark:text-white"
              >
                My Projects
              </h3>
            </div>
            <div>
              <a
                href=" / "
                class="mb-6 flex items-center justify-between border border-grey-lighter px-4 py-4 sm:px-6"
              >
                <span class="w-9/10 pr-8">
                  <h4
                    class="font-body text-lg font-semibold text-primary dark:text-white"
                  >
                    TailwindCSS
                  </h4>
                  <p class="font-body font-light text-primary dark:text-white">
                    Rapidly build modern websites without ever leaving your
                    HTML.
                  </p>
                </span>
                <span class="w-1/10">
                  <img
                    src="/assets/img/chevron-right.png"
                    class="mx-auto"
                    alt="chevron right"
                  />
                </span>
              </a>

              <a
                href=" / "
                class="mb-6 flex items-center justify-between border border-grey-lighter px-4 py-4 sm:px-6"
              >
                <span class="w-9/10 pr-8">
                  <h4
                    class="font-body text-lg font-semibold text-primary dark:text-white"
                  >
                    Maizzle
                  </h4>
                  <p class="font-body font-light text-primary dark:text-white">
                    Framework for Rapid Email Prototyping
                  </p>
                </span>
                <span class="w-1/10">
                  <img
                    src="/assets/img/chevron-right.png"
                    class="mx-auto"
                    alt="chevron right"
                  />
                </span>
              </a>

              <a
                href=" / "
                class="mb-6 flex items-center justify-between border border-grey-lighter px-4 py-4 sm:px-6"
              >
                <span class="w-9/10 pr-8">
                  <h4
                    class="font-body text-lg font-semibold text-primary dark:text-white"
                  >
                    Alpine.js
                  </h4>
                  <p class="font-body font-light text-primary dark:text-white">
                    Think of it like Tailwind for JavaScript.
                  </p>
                </span>
                <span class="w-1/10">
                  <img
                    src="/assets/img/chevron-right.png"
                    class="mx-auto"
                    alt="chevron right"
                  />
                </span>
              </a>

              <a
                href=" / "
                class="mb-6 flex items-center justify-between border border-grey-lighter px-4 py-4 sm:px-6"
              >
                <span class="w-9/10 pr-8">
                  <h4
                    class="font-body text-lg font-semibold text-primary dark:text-white"
                  >
                    PostCSS
                  </h4>
                  <p class="font-body font-light text-primary dark:text-white">
                    A tool for transforming CSS with JavaScript
                  </p>
                </span>
                <span class="w-1/10">
                  <img
                    src="/assets/img/chevron-right.png"
                    class="mx-auto"
                    alt="chevron right"
                  />
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <%- include('./partials/footer'); %>
    </div>

    <script src="/assets/js/main.js"></script>
  </body>
</html>
