<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />

    <meta
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
      name="viewport"
    />

    <title>Post | Atlas Template</title>

    <meta property="og:title" content="Post | Atlas Template" />

    <meta property="og:locale" content="en_US" />

    <link rel="canonical" href="https://atlas.tailwindmade.com/post" />

    <meta property="og:url" content="https://atlas.tailwindmade.com/post" />

    <meta
      name="description"
      content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    />

    <link rel="icon" type="image/png" href="/assets/img/favicon.png" />

    <meta property="og:site_name" content="Atlas Template" />

    <meta
      property="og:image"
      content="https://atlas.tailwindmade.com/assets/img/social.jpg"
    />

    <meta name="twitter:card" content="summary_large_image" />

    <meta name="twitter:site" content="@tailwindmade" />

    <link
      crossorigin="crossorigin"
      href="https://fonts.gstatic.com"
      rel="preconnect"
    />

    <link
      as="style"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="preload"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
    />

    <link
      crossorigin="anonymous"
      href="/assets/styles/main.min.css"
      media="screen"
      rel="stylesheet"
    />

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/atom-one-dark.min.css"
    />

    <script>
      hljs.initHighlightingOnLoad();
    </script>

    <!--Alpine Js V3-->
    <script
      src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"
      defer
    ></script>
  </head>

  <body
    x-data="global()"
    x-init="themeInit()"
    :class="isMobileMenuOpen ? 'max-h-screen overflow-hidden relative' : ''"
    class="dark:bg-primary"
  >
    <div id="main">
      <%- include('./partials/header'); %>

      <%- include('./partials/mobileMenu'); %>

      <div>
        <div class="container mx-auto">
          <div class="pt-16 lg:pt-20">
            <div class="border-b border-grey-lighter pb-8 sm:pb-12">
              <span
                class="mb-5 inline-block rounded-full bg-green-light px-2 py-1 font-body text-sm text-green sm:mb-8"
                >category</span
              >
              <h2
                class="block font-body text-3xl font-semibold leading-tight text-primary dark:text-white sm:text-4xl md:text-5xl"
              >
                Using Git Submodules for Private Content
              </h2>
              <div class="flex items-center pt-5 sm:pt-8">
                <p
                  class="pr-2 font-body font-light text-primary dark:text-white"
                >
                  July 19, 2020
                </p>
                <span class="vdark:text-white font-body text-grey">//</span>
                <p
                  class="pl-2 font-body font-light text-primary dark:text-white"
                >
                  4 min read
                </p>
              </div>
            </div>
            <div
              class="prose prose max-w-none border-b border-grey-lighter py-8 dark:prose-dark sm:py-12"
            >
              <%-postBody%>
            </div>

            <div class="flex items-center py-10">
              <span
                class="pr-5 font-body font-medium text-primary dark:text-white"
                >Share</span
              >
              <a href="/">
                <i
                  class="bx bxl-facebook text-2xl text-primary transition-colors hover:text-secondary dark:text-white dark:hover:text-secondary"
                ></i
              ></a>
              <a href="/">
                <i
                  class="bx bxl-twitter pl-2 text-2xl text-primary transition-colors hover:text-secondary dark:text-white dark:hover:text-secondary"
                ></i>
              </a>
              <a href="/">
                <i
                  class="bx bxl-linkedin pl-2 text-2xl text-primary transition-colors hover:text-secondary dark:text-white dark:hover:text-secondary"
                ></i
              ></a>
              <a href="/">
                <i
                  class="bx bxl-reddit pl-2 text-2xl text-primary transition-colors hover:text-secondary dark:text-white dark:hover:text-secondary"
                ></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <%- include('./partials/footer'); %>
    </div>

    <script src="/assets/js/main.js"></script>
  </body>
</html>
