<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />

    <meta
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
      name="viewport"
    />

    <title>Uses | Atlas Template</title>

    <meta property="og:title" content="Uses | Atlas Template" />

    <meta property="og:locale" content="en_US" />

    <link rel="canonical" href="https://atlas.tailwindmade.com/uses" />

    <meta property="og:url" content="https://atlas.tailwindmade.com/uses" />

    <meta
      name="description"
      content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    />

    <link rel="icon" type="image/png" href="/assets/img/favicon.png" />

    <meta property="og:site_name" content="Atlas Template" />

    <meta
      property="og:image"
      content="https://atlas.tailwindmade.com/assets/img/social.jpg"
    />

    <meta name="twitter:card" content="summary_large_image" />

    <meta name="twitter:site" content="@tailwindmade" />

    <link
      crossorigin="crossorigin"
      href="https://fonts.gstatic.com"
      rel="preconnect"
    />

    <link
      as="style"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="preload"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
    />

    <link
      crossorigin="anonymous"
      href="/assets/styles/main.min.css"
      media="screen"
      rel="stylesheet"
    />

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/atom-one-dark.min.css"
    />

    <script>
      hljs.initHighlightingOnLoad();
    </script>

    <!--Alpine Js V3-->
    <script
      src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"
      defer
    ></script>
  </head>

  <body
    x-data="global()"
    x-init="themeInit()"
    :class="isMobileMenuOpen ? 'max-h-screen overflow-hidden relative' : ''"
    class="dark:bg-primary"
  >
    <div id="main">
      <%- include('./partials/header'); %> 
      
      <%- include('./partials/mobileMenu'); %>

      <div>
        <div class="container mx-auto">
          <div class="py-16 lg:py-20">
            <div>
              <img src="/assets/img/icon-uses.png" alt="icon uses" />
            </div>
            <h1
              class="pt-5 font-body text-4xl font-semibold text-primary dark:text-white md:text-5xl lg:text-6xl"
            >
              /uses
            </h1>
            <div class="pr-2 pt-3">
              <span
                class="font-body text-xl font-light text-primary dark:text-white"
              >
                Inspired by
                <a
                  href="https://uses.tech/"
                  target="_blank"
                  class="border-b border-green"
                >
                  <span
                    class="font-medium text-green hover:text-secondary dark:text-green-light dark:hover:text-secondary"
                    >Wes Bos</span
                  >
                  and his project,
                  <span
                    class="font-medium text-green hover:text-secondary dark:text-green-light dark:hover:text-secondary"
                    >uses.tech</span
                  >.
                </a>
              </span>
            </div>

            <div class="pt-16 lg:pt-20">
              <h3
                class="pb-8 font-body text-2xl font-semibold text-primary dark:text-white"
              >
                Computer + Workspace
              </h3>
              <ul class="list-disc pl-10">
                <li
                  class="font-body text-lg font-light text-primary dark:text-white"
                >
                  <span class="font-medium">Computer:</span>
                  I use a 2019 16"
                  <a
                    href="/"
                    class="font-medium text-green underline hover:text-secondary dark:text-green-light dark:hover:text-secondary"
                    >MacBook Pro</a
                  >
                  (i9/32GB/512gb) for everything (work + personal). The physical
                  escape key and fixed keyboard is amazing.
                </li>
                <li
                  class="pt-5 font-body text-lg font-light text-primary dark:text-white"
                >
                  <span class="font-medium">Chair:</span>
                  When I sit, I sit on an
                  <a
                    href="/"
                    class="font-medium text-green underline hover:text-secondary dark:text-green-light dark:hover:text-secondary"
                  >
                    Herman Miller Mirra 2 </a
                  >, but I stand almost 100% of the time, so the chair doesn’t
                  do me much good.
                </li>
                <li
                  class="pt-5 font-body text-lg font-light text-primary dark:text-white"
                >
                  <span class="font-medium">Desk:</span>
                  My desk is a
                  <a
                    href="/"
                    class="font-medium text-green underline hover:text-secondary dark:text-green-light dark:hover:text-secondary"
                  >
                    Fully Jarvis standing desk
                  </a>
                  (which I love) with the Bamboo top (which I don't recommend).
                  If you're looking for a great sit-stand desk, I highly
                  recommend Jarvis. Also, purchase directly from Fully vs.
                  Amazon. Fully's customer support is incredible.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <%- include('./partials/footer'); %>
    </div>

    <script src="/assets/js/main.js"></script>
  </body>
</html>
